@charset "UTF-8";
@use "./style" as *;

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 1.25rem;

  .maxinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeight;
  }

  .logo a {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .gnb-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;

    li {
      flex: 1;

      a {
        display: block;
        padding: .625rem 0;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}

.page-container {
  padding-top: $headerHeight;
  min-height: calc(100vh - $footerHeight);
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footerHeight;
  padding: 0 1.25rem;
  background-color: #eee;
}